[2020-09-17 09:04] pmcpinto opened #602 "Home Screen - Store Management: wrong redirect when clicking on "Get Support""
The "Get Support" option in the eCommerce plan should redirect the user to https://wordpress.com/help

Currently is redirecting to https://woocommerce.com/my-account/create-a-ticket/

~See video: https://www.loom.com/share/7c76888e8eff4fe1913f8c0d2da74ad8~

_Revised by @timmyc 1/28/21 to update location of bad link_

<img width="530" alt="get-support" src="https://user-images.githubusercontent.com

[2020-09-18 09:33] pmcpinto commented on #554
@octaedro I'm testing the flow and I'm not seeing the new card: https://d.pr/i/kRlo34 I only completed the store profiler

The quick link is also missing. Let me know if you need access to this test store.

[2020-09-18 10:05] pmcpinto opened #603 "Set up payments task missing"
I created a test store today to check the changes made by Fernando in the Calypso Home and in the meantime, I noticed that the Set up payments task is missing: https://d.pr/i/XYwGGW

[2020-09-18 12:22] octaedro commented on #554
Hi @pmcpinto,
The PR that saves the task list status (hidden or not) is not [released in Jetpack](https://github.com/Automattic/jetpack/releases) side. It will be shipped with the `version 9.0`. For now, we only can test this functionality by adding `?dev=true&view=VIEW_SITE_SETUP_ECOMMERCE` at the end of the URL (E.g.: [https://wordpress.com/home/meetomattic.wordpress.com?dev=true&view=VIEW_SITE_

[2020-09-18 15:17] joshuatf commented on #603
@pmcpinto Was WooCommerce Payments installed?  Looks like that task is hidden if it's already installed.
https://github.com/woocommerce/woocommerce-admin/blob/a4e10235922f41eef12c71069aa2afdfa759fe14/client/task-list/tasks.js#L194

[2020-09-18 15:50] pmcpinto commented on #603
Yep, it was installed by default: https://d.pr/i/rXnENa

Probably there's a conflict because the store location is not set in the US.

[2020-09-21 14:14] pmcpinto commented on #554
👍 thanks for the clarification

[2020-09-22 18:24] octaedro commented on #592
Hi @pmcpinto and @jameskoster,
I'm working on this issue and I wanted to confirm a design modification.
Currently we have the `Add new` button in the Calypso header:
![screenshot-three wordpress test-2020 09 22-14_45_21](https://user-images.githubusercontent.com/1314156/93919013-8d806880-fce3-11ea-9c84-9d7c70f04290.png)

Is it ok if I move it to under the Search input?
![screenshot-three wordpress

[2020-09-23 09:54] jameskoster commented on #592
Where does the add button live on Calypsofied versions of the posts / pages lists? I'd look there for inspiration. cc @elizaan36

[2020-09-23 13:18] octaedro commented on #592
Thank you @jameskoster.
In Calypso those buttons are aligned to the right. If it's ok I will align ours to the right too.
![screenshot-wordpress com-2020 09 23-10_01_36](https://user-images.githubusercontent.com/1314156/94016197-34b4dc80-fd84-11ea-9391-6d16ece1a8a3.png)

cc @elizaan36

[2020-09-24 22:07] elizaan36 commented on #592
I know I'm just joining this conversation at the end, but have we considered placing the `Add new` button to the right of the activity panel in the wc-admin navbar? Is that a possibility @octaedro or does it have to be placed outside of the nav?

[2020-09-25 14:01] pmcpinto commented on #581
I think that we can suppress specific elements, such as the activity panels: https://help.hotjar.com/hc/en-us/articles/115012439167-How-to-Suppress-Text-and-Images-from-Collected-Data#element

[2020-09-25 16:20] octaedro commented on #592
Hi @elizaan36,
No problem, it would look like this:
![screenshot-three wordpress test-2020 09 25-13_18_07](https://user-images.githubusercontent.com/1314156/94291211-b26a1b00-ff31-11ea-87a2-00db6bbb7fcb.png)

[2020-09-25 16:51] elizaan36 commented on #592
Nice! Is there any way we could place the `Add new` button to the **right** of the activity panel in the wc-admin navbar?
I'm looking at Jay's previous designs for this component, and there's an example here: https://www.figma.com/file/Pfw5Qa1UOw03RiJere3Wlo/Automattic-Components?node-id=3847%3A15111

The primary action is located at the far right. Not sure if that gets in the way of any metrics w

[2020-09-25 22:23] octaedro commented on #592
Hi @elizaan36,

Are you referring to the whole actions group or only to the `Add new` button?

Moving the grouped buttons is easy, but sending **only** the `Add new` button is more tricky.
If you don't mind, it would be great if you could share a design to give me a clearer idea about what you think it should look like.

[2020-09-28 11:20] pmcpinto opened #605 "Auto-update the WooCommerce database in the eCommerce plan"
**User story:**
As a merchant
I want to see my database updated automatically
So I can manage my store instead of being interrupted by notifications

**Description:** we prompt the eCommerce plan users to move forward with the DB update. This can increase friction, cognitive load and distract them. We can streamline this process by auto-update the WC database.

Acceptance Criteria:
[ ] - Automatic

[2020-09-29 15:10] elizaan36 commented on #592
hey @octaedro, we've just had some progress on [removing Calypsoify](https://github.com/Automattic/dotcom-manage/issues/44) so whatever we do here will be removed eventually to go back to a consistent wp-admin experience.

If it's not too much work, I think your solution will work fine for now! (with the button group on the left.)

[2020-09-29 15:10] #573 closed

[2020-10-12 02:50] psealock commented on #306
This no longer applies because we're removing Calypsoify

[2020-10-12 02:50] #306 closed

[2020-10-12 02:51] psealock commented on #519
In removing Calypsoify this will no longer be an issue, closing.

[2020-10-12 02:51] #519 closed

[2020-10-12 02:58] psealock commented on #592
Bingo! Since we're headed down this route, we can close this issue.

[2020-10-12 02:58] #592 closed

[2020-10-15 10:54] pmcpinto opened #606 "eComm onboarding - store profiler - product types: hide monthly pricing info and toggle"
We're wrongly displaying the monthly pricing information and toggle in the product types step, which can be misleading as we don't promote paid extensions for the eComm plan users

https://d.pr/i/syqlSc

[2020-10-15 10:58] pmcpinto opened #607 "eComm onboarding - store profiler - business details: hide free extensions"
We shouldn't display the free extensions in the business details step: https://d.pr/i/lAgh3C

It seems to be a regression as this was already fixed in the past

[2020-10-15 11:02] pmcpinto opened #608 "eComm onboarding - store profiler: don't redirect users to wp-admin"
Users are being redirected to wp-admin after completing or skipping the profiler: https://www.loom.com/share/6d8ee5e2d77a48d69caf73c19f47248d
They should be redirected to WooCommerce within Calypso.
This seems to be a regression as it was working fine before this release.

[2020-10-15 15:24] pmcpinto opened #609 "eComm plan - Inbox feature missing in the home screen"
The inbox panel disappeared from the home screen in the eCommerce plan with the WooCommerce 4.6 update. This is happening in Calypso and WP-Admin:

Calypso: https://d.pr/i/6LuLM7
WP-Admin: https://d.pr/i/3JLF2Z

[2020-10-15 17:01] timmyc commented on #607
@pmcpinto I'm thinking what might have happened here for you is you got redirected out of calypsoify, and as such the `calhypsoify.css` we load specific for the ecommerce plan. I could verify this happening locally by visiting`/wp-admin` to clear out the calypsoify cookie and user meta, then visiting the profiler directly via `/wp-admin/admin.php?page=wc-admin&reset_profiler=1`

Oddly enough, just

[2020-10-15 17:09] timmyc commented on #608
This is looking like the same reason noted in #607 - and just wanting to confirm with you, you saw this behavior the same time you encountered the extensions being shown too.

The links from calypso -> ecomm all have the &calypsoify=1 param on them so that is what we have always leaned on to make this work. Seems like you hit a flow that dropped you out into wp-admin initially and cleared the caly

[2020-10-15 17:10] timmyc commented on #609
I can reproduce this _on_ ecomm plan sites only, and have not been able to make it happen locally.

[2020-10-15 18:01] pmcpinto commented on #608
@timmyc yep, I think you're right.

I just created a new store and I came across this weird bug: https://www.loom.com/share/43fa4e6b929147a5bfb25104728caff6

Then I went to the Calypso Home and I was redirected to the store profiler after clicking on the Store option: https://www.loom.com/share/aa21761b875044d8b8ca514bcc5dadf7
Everything seems to be working properly, the only exception is the mont

[2020-10-15 18:04] pmcpinto commented on #609
@timmyc the inbox is showing up in the eComm test store that I created a couple of mins ago: https://d.pr/i/LnYKAe
There's definitely something weird happening with the inbox panel

[2020-10-15 18:36] timmyc commented on #609
@pmcpinto I think this issue on eComm plan sites is related to https://github.com/woocommerce/woocommerce-admin/issues/5385

I'm not sure _why_ yet, but the change that did happen in the inbox panel for this release was the migration to `wp.data`. From what I've seen in my debugging it looks like the request to fetch the notes doesn't seem to work properly, which results in the homescreen thinking

[2020-10-15 20:15] timmyc commented on #608
So should we remove the skip link?

The error you encountered almost looked like the new site wasn't fully provisioned yet, and your account hadn't been given access to it. If you could when you record screen grabs like that, include the address bar, but I'm guessing the URL was that for the site profile wizard, would have been good to confirm.

[2020-10-15 20:15] #606 closed

[2020-10-16 17:35] #609 closed

[2020-10-19 11:49] pmcpinto commented on #608
@timmyc I was testing again the flow and this is already the 2nd time since 4.6 was shipped that I'm getting this error when I try to access the onboarding after completing the purchase: https://www.loom.com/share/2c10163bdb4147099bd908284d65d46e

I think that this is probably related to the old onboarding removal and the splash screen redirect. Do you want me to open a new issue about this? I'm a

[2020-10-19 12:17] pmcpinto opened #611 "Reenable WooCommerce Payments auto-install on US Stores"
We should reenable the WooCommerce Payments auto-install on US Stores, considering that WooCommerce Core 4.6 included the [fix](https://github.com/woocommerce/woocommerce-admin/pull/5166) to show payments task for non-US stores when wcpay installed

[2020-10-19 12:17] pmcpinto commented on #611
cc @timmyc

[2020-10-19 20:08] timmyc commented on #611
Deployed in r215452-wpcom

[2020-10-19 20:08] #611 closed

[2020-10-20 20:57] #608 closed

[2020-10-23 02:03] psealock commented on #607
Sounds like we can close this out and re open if need be.

[2020-10-23 02:03] #607 closed

[2020-11-03 02:01] psealock opened #616 "Navigation: Register included extensions"
Register all extensions populated by eComm plan automatically. For extensions that create a page, register a page. The API is in flux, check in with https://github.com/woocommerce/woocommerce-admin/pull/5478 to gather the latest if it isn't merged yet.

### Deliverables

* Register items for https://wpcom.trac.automattic.com/browser/trunk/wp-content/lib/atomic-v2.php#L903.
* Register the top 15 Wo

[2020-11-03 20:08] psealock commented on #616
Closing because we're headed in the Plugins Approach direction and will populate the Nav via extenstions themselves

[2020-11-03 20:08] #616 closed

[2020-11-11 17:20] jamiepalatnik opened #617 "Storefront child themes not loading in Calypso"
The eCommerce plan includes Storefront child themes, but when I tested this I found they can only be activated via the Customizer or WP Admin. If one of the included child themes is activated, it does not load in Calypso.

Screenshot: https://d.pr/i/xRs7jo

I would expect the active theme to appear in Calypso and all the child themes to appear on the Themes page as options.

[2020-11-19 20:20] timmyc opened #619 "[4.8-beta.1] Snackbar Left Margin off"
I think this has already been mentioned in the context of the new navigation, but currently in the ecommerce plan, the Snack Bar notices are not aligned properly with the left sidebar. I also realize the likliehood of us fixing this with nav on the doorstop is slim, I'm more just logging this as a "known issue" for 4.8, but imagine it is the same way with 4.7 as well:

<img width="1801" alt="snack

[2020-11-19 20:23] timmyc opened #620 "[4.8-beta.1] Extra top padding in OBW"
Test Setup:
- Atomic Ephmeral
- WC 4.8 Beta 1
- wpcomsh
- Gutenberg
- And manually installed [ecomm plan helper](https://teamisotope.wordpress.com/2020/07/01/getting-by-with-a-little-helper/)

When going through the OBW with the above configuration, there is some extra padding at the top of the screen:

<img width="1801" alt="padding-top-4 8-beta1" src="https://user-images.githubusercontent.com/22

[2020-11-20 20:19] timmyc commented on #617
@jamiepalatnik thanks for logging this issue - definitely looks buggy to me. That screen however is part of calypso so thinking it might be best to open the issue there. I'm not certain which team would be responsible for the theme screen in calypso, but I imagine this same bug would impact any site that is using a child theme, regardless of if Woo is installed or not.

[2020-11-23 23:32] timmyc opened #621 "Remove Logic to Enable Remote Inbox"
Now that the remote inbox system is live in all modes, we can remove the logic added here to enable it for the eComm plan specifically. Original PR: #590

[2020-11-27 17:13] jamiepalatnik commented on #617
Thanks for taking a look! I am not able to recreate this with any other child themes, only the child themes included with the  eCommerce plan. I reported this here: https://github.com/Automattic/wp-calypso/issues/47838

[2020-12-01 06:39] psealock opened #623 "remove/calypsoify branch: Redirect to OBW due to incomplete data hydration."
When on the `remove/calypsoify` branch, the OBW consistently appears on page refresh.

The problem seems to be with the way options are initialized from the server because the OBW thinks its incomplete when it actually is.

On `remove/calypsoify`, `wcSettings.onboarding.profile` is incomplete.

<img width="296" alt="Screen Shot 2020-12-01 at 7 30 46 PM" src="https://user-images.githubusercontent.c

[2020-12-16 16:23] pmcpinto opened #624 "Store profiler: styling fixes are not working properly"
**Describe the bug**
Some elements of the Store Profiler should be hidden in the eCommerce plan

**To Reproduce**
Steps to reproduce the behavior:

1. Purchase a new eCommerce plan
2. Go to the store profiler
3. In the product types step see that we're displaying a monthly pricing toggle and a mention about billing
4. In the business details step see that we're showing the extensions after you fil

[2020-12-16 16:23] pmcpinto commented on #624
@timmyc here's the issue

[2021-01-04 19:47] psealock commented on #623
This is fixed by https://github.com/Automattic/wc-calypso-bridge/pull/614#issuecomment-736814112

[2021-01-04 19:47] #623 closed

[2021-01-04 19:57] psealock opened #625 "Navigation: Add Feature toggle"
In https://github.com/woocommerce/woocommerce-admin/pull/5940, the feature toggle was removed from the 1.8.2 release of wc-admin which is the version eComm users will be using on January 12th. This feature toggle will need to be added back in from this repo so it is only visible to eComm users.

One potential gotcha here is that the toggle is still on the master branch because future releases will

[2021-01-04 20:09] psealock opened #626 "Navigation: Add Learn More Note"
https://github.com/woocommerce/woocommerce-admin/pull/5837 Adds a note to "learn more" with a link to a document, https://docs.woocommerce.com/document/woocommerce-navigation.

Since that code will be missing from the 1.8.2 release included in the initial roll out, it will need to be added here.

Similar to https://github.com/Automattic/wc-calypso-bridge/issues/625, this creates a potential for du

[2021-01-07 01:47] psealock opened #629 "Remove Calypsoify: Ensure Jetpack doesn't add Calypsoify`"
In some poking around I noticed that using the `remove/calypsoify` branch doesn't prevent Calypsofiy from turning on if Jetpack is activated.

This may be a non-issue because the `&calypsoify=1` query parameter may never get added, but I'm creating this issue so we remember to confirm this.

[2021-01-08 20:27] joshuatf opened #630 "Modernize build and linting"
Assuming we merge https://github.com/Automattic/wc-calypso-bridge/pull/614, the `bjornjohansen/wp-pre-commit-hook` dependency is being removed to allow compatibility with Composer v2.

This dependency primarily acted as a pre-commit hook to run PHPCS prior to commit.  We could attempt to find an updated alternative to this dependency or create our own composer scripts, but this also may be a good

[2021-01-10 21:09] psealock commented on #625
Fixed by https://github.com/Automattic/wc-calypso-bridge/pull/627

[2021-01-10 21:09] #625 closed

[2021-01-10 21:12] psealock opened #631 "Navigation [WC 5.0] Force Navigation on for Business Plan users"
Similar to how its been done for eCommerce plan, we need to turn on Navigation for Business Plan users.

## Deliverables

* Turn of Navigation for  Business Plan users
* Enable the feature toggle in Settings. Avoid duplication if it already exists

[2021-01-11 21:39] joshuatf commented on #629
@psealock After investigating a bit, I think `remove/calypsoify` should prevent the Jetpack version from turning on.  The following line filters the user metadata which is how Jetpack determines whether or not to turn on Calypsoify.

https://github.com/Automattic/wc-calypso-bridge/blob/7e4628cfeb01d2e9d70f534c6f945b1420517852/class-wc-calypso-bridge.php#L146

Are you still able to see calypsoified

[2021-01-12 00:29] psealock commented on #629
Yeah, if you have Jetpack installed, and add the param `&calypsoify=1` (using `master` of the wc-calypso-bridge), then you get this:

<img width="1148" alt="Screen Shot 2021-01-12 at 1 23 59 PM" src="https://user-images.githubusercontent.com/1922453/104253553-a6eb3180-54d9-11eb-8655-700a58dc53d8.png">

Can we be sure that `decalypsoify_ecommerce_plan` prevents Jetpack from adding the parameter?

[2021-01-14 02:15] psealock commented on #629
This Calypso PR should ensure we don't run into an errant Calypsoification https://github.com/Automattic/wp-calypso/pull/48897

[2021-01-14 22:49] #629 closed

[2021-01-15 18:13] pmcpinto opened #633 "Redirect users back to Calypso Home when clicking on the WordPress Dashboard menu item"
Currently we're redirecting eCommerce plan users to the wp-admin dashboard when they click on the WordPress Dashboard menu item. However, it will be better to redirect users back to the Calypso Home, as we don't know if they manage the other parts of their website on Calypso or wp-admin. And they can always access wp-admin through the nav option in the Calypso menu.

[2021-01-23 01:29] timmyc opened #635 "Missing OBW Style Tweaks"
During the great calypsoify removal of '20 - it appears some lines of css might not have made it over the fence into the pastures of _New Nav Nirvana_. @pmcpinto noticed the two following items:

[code]

I think those tweaks were originally shipped in the following PRs #610 #547 so we should be able to reimpliment/rehide pretty quickly.

[2021-01-26 17:36] #554 closed

[2021-01-26 17:37] #595 closed

[2021-01-26 17:38] #603 closed

[2021-01-27 22:09] joshuatf opened #636 "Update the survey tags for ecomm and business plans"
Following up on https://github.com/woocommerce/woocommerce-admin/pull/6066 we should use the `woocommerce_admin_survey_query` filter to add in arguments to determine if a user is coming from a business or ecomm plan.

[code]

[2021-01-27 22:44] timmyc opened #637 "Various WC_Install::install() Methods Not Running on eCom Sites"
This feedback came in via the WPCOM Happiness Townhall yesterday where @pmcpinto gave a presentation about the eCommerce Plan.

Post about this topic on the Atomic P2: p9o2xV-1eZ-p2

As the title states, the bug is that when a new ecommerce plan site is launched, the default WooCommerce pages ( Shop, Cart, Checkout Etc ) are not created, which is problematic for new Woo users.

I spent a little ti

[2021-01-28 22:41] timmyc commented on #635
This should be a quick win < 1 estimate.

[2021-01-28 22:43] timmyc commented on #637
So a bit unsure on how to estimate this one - we could add some logic to the bridge to sniff out if the default pages are not setup, and trigger that, perhaps during the daily wc admin job. But I feel we need to get to the root cause of this bug, as it will continue to impact us in other ways ( see the cron issue too ). As such this will likely require working with the Atomic team to do some more

[2021-01-28 22:49] timmyc commented on #636
This appears to be pretty straightforward to implement, estimating at 1

[2021-01-28 22:59] timmyc commented on #602
We have a [js filter](https://github.com/woocommerce/woocommerce-admin/blob/main/client/header/activity-panel/panels/help.js#L332-L337), `woocommerce_admin_setup_task_help_items`, that should allow us to modify this particular help link to the proper location.

Estimate: 1

[2021-01-29 14:28] joshuatf commented on #636
Just a quick note here, the only nuance to watch out for here is that a bunch of code only runs after the `wc_calypso_bridge_is_ecommerce_plan()` check.

It should be trivial to use the `Atomic_Plan_Manager::current_plan_slug()` to add to the params above, but this won't get added for business plan users. cc @timmyc to verify that I'm correct on this.

[2021-01-30 00:35] timmyc commented on #633
Adding this to cycle 9. Looks like the work is done, we just need to get a new version of the bridge out including this fix.

[2021-01-30 02:07] timmyc commented on #636
If I'm following correctly, I think we can drop that filter in the `WC_Calypso_Bridge_Tracks` file which gets evaled in both biz and ecom plans, and logic can be tweaked conditionally on plans.

[2021-02-05 16:40] philnick206 commented on #637
Report here: #3714489-zen

[2021-02-09 23:00] psealock opened #640 "Navigation: Back URL filter history aware"
https://github.com/Automattic/wc-calypso-bridge/pull/634 makes use of a Navigation feature to direct eComm plan users back to Calypso instead of wp-admin. However, sometime eComm plan users will have arrived at WooCommerce via wp-admin.

### Deliverables

* Create a mechanism such that clicking "back to Dashboard" returns eComm user from where they came: wp-admin OR Calypso

### Previous Thoughts

[2021-02-09 23:01] #633 closed

[2021-02-17 17:56] timmyc opened #642 "Testing: Fix existing unit tests"
Currently the nascent test suite here in _The Bridge_ is failing on all pull requests. First step to bridge enlightenment will be to investigate why the tests are failing and fix them.

[2021-02-17 17:57] timmyc opened #643 "Misc: Rename `master` Branch to `trunk`"
The Bridge is still using the old default branch name, `master`, and per the [new standard at a8c](https://wp.me/p7H4VZ-2Jo), we should perform the update in this project as well.

Since we don't have any automations based upon the current branch naming, this should be fairly straightforward.

[2021-02-17 18:01] timmyc opened #644 "Testing: Migrate to Github Actions"
Following in the footsteps of `wc-admin`, let's build upon the work that @samueljseay has done there and migrate our small CI tasks to use Github actions.

[2021-02-17 18:07] timmyc opened #645 "Misc: Issue Label Updates & Sync"

[2021-02-17 18:09] timmyc opened #646 "Testing: Add e2e Suite"
Since _The Bridge_ is primarily now used for manipulating the default WooCommerce experience, I would like for us to get an e2e test suite in place here so we can begin automate the testing of these various tweaks we make to the core experience.

A good first set of test cases would be for asserting that our tweaks in the Onboarding Profiler have test coverage: #635

[2021-02-17 18:11] timmyc opened #647 "The Bridge Housekeeping"
Gazing into the crystal ball of 2021, I for-see more development happening in _The Bridge_ and as such, I'm thinking we need to invest some time into cleaning up some things in the plugin here, and getting workflow tooling in place so development in this project _feels_ as smooth and normal as working in other repositories that Start Manage teams are active in.

Feels like an epic!

[2021-02-17 18:17] timmyc opened #648 "Remove Legacy Store on WordPress.com Code"
Store on WordPress.com will be officially sunset by the time we start the next sprint cycle in March 2021. As such, it is time to remove any code that still exists in this plugin that is specific to Store on WordPress.com:

https://github.com/Automattic/wc-calypso-bridge/tree/master/store-on-wpcom

[2021-02-17 20:04] moon0326 opened #649 "Change new order notification email order link to `/wp-admin` from `/store`"
## Description

The new order notification email currently contains a link to `/store/order`

Since Store is deprecated and will soon be removed, we should update the implementation so that the `/wp-admin/post.php?post=` path is always used, which will bring users to the WooCommerce Core experience to view the order.

Source code: https://github.com/Automattic/wc-calypso-bridge/blob/master/store-o

[2021-02-17 20:45] #636 closed

[2021-02-18 12:19] philnick206 commented on #637
Another: #3751727-zen

[2021-02-22 10:13] pmcpinto opened #652 "Hide free extensions promotion"
**Describe the bug**
Some of the free extensions that we promote (Facebook and Mailchimp) are installed by default on the eComm plan. We should hide the extensions promotions in the alternative flows that we created: [#4579](https://github.com/woocommerce/woocommerce-admin/issues/4579) and [#5287](https://github.com/woocommerce/woocommerce-admin/issues/5287). We should hide the free extensions pro

[2021-02-22 14:16] #602 closed

[2021-02-22 17:38] timmyc commented on #652
@pmcpinto given the extensions step is such a moving target, would it make more sense to remove it entirely from the eCommerce plan? We can not currently do that, but after https://github.com/woocommerce/woocommerce-admin/issues/6352 lands we will be able to do so.

[2021-02-23 00:18] #649 closed

[2021-02-26 21:22] joelclimbsthings opened #657 "Update basic architecture to mirror wc-admin"
After introducing the [front-end tooling](https://github.com/Automattic/wc-calypso-bridge/pull/655), we've arrived at a folder structure with the `/src` folder housing client-side code. We should change this to match `wc-admin` as such:
- `/client` folder houses front-end code
- `/src` folder houses back-end code

[2021-02-28 21:57] haszari opened #658 "eCommerce Plan "Powered by Woo" obscures update/delete brand buttons"
**Describe the bug**
When running [WooCommerce Brands plugin](https://woocommerce.com/products/brands/), there is a visual issue with `Powered by WooCommerce`  obscuring update/delete brand links. (May be better to log a separate issue.)

<img width="1078" alt="Screenshot on 2021-01-21 at 09-19-02" src="https://user-images.githubusercontent.com/4167300/105782076-a4f49880-5fd8-11eb-9b7e-56acce5c462

[2021-02-28 21:57] haszari commented on #658
FYI @pmcpinto @timmyc

[2021-03-02 12:07] pmcpinto commented on #631
As it was discussed 1-2 weeks ago, let's see how it goes the nav unification on the Dotcom side before making this change

[2021-03-04 23:24] #640 closed

[2021-03-05 22:56] mattsherman opened #660 "Handle local Calypso development server in `woocommerce_navigation_root_back_url` filter"
We should build off of #659 and handle going back to the local Calypso development server (`http://calypso.localhost:3000`) if the referrer starts with `http://calypso.localhost:3000`. In that case, we'd want to go back to `http://calypso.localhost:3000/home/${ slug }`.

This would make development and testing of WooCommerce-related functionality in Calypso less confusing. Because as it is now, yo

[2021-03-05 23:23] joelclimbsthings commented on #660
I like this idea a lot. I haven't tried to run Calypso locally as of yet, although anything we can do to bring this closer to the production experience is a big :+1:  from me.

Should be fairly easy to implement as well.

[2021-03-09 17:03] timmyc commented on #631
Since assessing how Nav Unification roll out goes is going to probably take a few weeks, the soonest we will get to this issue will likely be in the next sprint cycle. As such, removing from this cycle.

[2021-03-10 17:43] timmyc opened #661 "The Bridge can not be installed alongside wpcomsh for testing"
This item came up during our Cycle 9 2021 retro: p90Yrv-2aP-p2

And I confirmed that when you attempt to upload a zip file of the bridge plugin to an Atomic Ephemeral site for testing, there are conflicts with constants and class names that prevent the bridge from being tested on AE with wpcomsh.

[2021-03-11 17:24] timmyc commented on #647
Due to the shift in focus, I'm going to remove this from the current dev cycle since we will be likely focusing efforts in other repositories so these tasks aren't as critical in the bridge plugin.

[2021-03-11 17:51] timmyc commented on #637
I think that would be a sound approach @moon0326 - we could possibly hook into the [`woocommerce_admin_newly_installed`](https://github.com/woocommerce/woocommerce-admin/blob/main/src/Install.php#L149) action and do a check to see if the default pages exist, and if not, call `maybe_create_pages` again.

[2021-03-11 23:24] moon0326 commented on #637
@timmyc Sounds good! I will make a PR 👍

[2021-03-29 06:21] pmcpinto opened #667 "Business plan users (ex-Store UI) - Store Analytics tab not working"
**Describe the bug**
Happiness received some support tickets from Business plan customers that were using the Store UI reporting that the Store tab in the Stats and Insights page is not working: https://d.pr/i/5SfEh0

**To Reproduce**
Steps to reproduce the behavior:

1. Use a business plan account with Woo installed
2. Click on the Stats menu item
3. Click on the Store tab
4. See error

**Expecte

[2021-03-29 06:23] pmcpinto commented on #667
@becdetat do you think it's possible to fix this during cycle 11? I'm assuming that redirecting to the wcadmin analytics page is the easiest approach, but I'd like to get your feedback. Thanks

[2021-03-31 00:49] moon0326 commented on #667
@pmcpinto @becdetat I signed up for a new business plan and tested it. The store tab worked fine for me. Do you have more details by any chance? Thanks!

![Screen Shot 2021-03-30 at 5.49.18 PM.jpg](https://images.zenhubusercontent.com/5fa082d991c622599eeba31b/1910f84e-11d6-4a3a-9739-03b0d6a02093)

[2021-03-31 06:05] becdetat commented on #667
@pmcpinto @moon0326 I also can't reproduce this on a new business plan store

[2021-03-31 09:41] pmcpinto commented on #667
Thanks for checking this. Let me see if Happiness can provide more info.

[2021-03-31 23:12] becdetat commented on #667
Repro:

- load the page using a site param: `https://wordpress.com/stats/day?site=<YOUR_SITE>.wpcomstaging.com`
- Then click the store stats:

![image](https://user-images.githubusercontent.com/224531/113222404-4eeaec80-92ca-11eb-9ec5-e3e8a9202c37.png)

Then you get redirected to https://wordpress.com/stats/day/store.a8c.com

[2021-04-08 02:28] #575 closed

[2021-04-09 00:06] psealock commented on #652
I'm pretty sure this is handled by https://github.com/Automattic/wc-calypso-bridge/pull/675 which hides the free extensions tab in Business Details step.

[2021-04-12 21:23] #667 closed

[2021-04-13 00:20] #635 closed

[2021-04-13 00:20] #652 closed

[2021-04-19 02:39] psealock commented on #658
@haszari I can only reproduce this when the new Navigation is turned off. Considering this is for eCommerce plan users who have Navigation turned on, I don't think its worth fixing. What do you think?

[2021-04-19 03:02] haszari commented on #658
@psealock Sounds reasonable - happy to close 😄

If there's a lingering issue here someone can log a new issue. Closing 👍

[2021-04-19 03:02] #658 closed

[2021-04-20 11:53] pmcpinto opened #677 "Switch PayPal extension included in the eCommerce bundle"
**Description:** we should swap the PayPal Checkout extension included in the bundle for the new PayPal Payments extension: https://wordpress.org/plugins/woocommerce-paypal-payments/

[2021-04-21 18:25] timmyc opened #678 "Vertical Scrollbar Shown in New Navigation Sidebar"
I tested this out on a new JN site running 5.2 and 2.2 of wc-admin, and I could not reproduce the bug there, so wondering if this is something specific to code here in the bridge.

__Steps to Recreate__
- Be sure to have scrollbars set to always display ( Settings > General on a mac )
![image](https://user-images.githubusercontent.com/22080/115602513-e329ed00-a293-11eb-97f3-d7a6881395ed.png)

- Th

[2021-04-27 04:45] moon0326 commented on #637
Closing it as this issue has been resolved on prod.

[2021-04-27 04:45] #637 closed

[2021-05-20 19:47] mattsherman opened #679 "WooCommerce Payments Welcome Screen"
**DRAFT: NOT READY TO BE IMPLEMENTED - STILL BEING FINALIZED BY @mattsherman AND TEAM**

## User story

As a merchant that a store on WordPress.com with the eCommerce or Business plan, I want to see the Welcome Screen for WooCommerce Payments if I am not already using it, so that I am aware that it exists and can consider it as the payment gateway for my store.

## Open questions

- What is the ex

[2021-06-16 07:47] ilyasfoo opened #684 "Users unable to connect to Canada Post"
As reported in 4063940-zd-woothemes and p1623769959450600-slack-C7U3Y3VMY, ecommerce users are unable to connect to Canada Post account because the way to connect is via a notice that appears in wp-admin, but it's being removed [here](https://github.com/Automattic/wc-calypso-bridge/commit/53a7a6cb021e4c83b44fd3c2fc2f46050a85390e#diff-574140c5ebef5f5a93893e45669a487fc8f736639e6eb3b19f0869e1735c95be

[2021-06-16 15:58] Nic-Sevic commented on #591
To add to the above, I was testing this to try and clarify our docs and found that if the site is reverted and then the plan deactivated this logic is also not called. It's only if the site remains AT and the plan is cancelled that the woo order is cancelled and the subs removed

[2021-06-18 01:34] ilyasfoo commented on #684
It seems that this issue was partly caused by Calypsoify removal (p1623973890058900/1623906074.046200-slack-CBKK5KM41), as the task list to connect to Canada Post may have been removed along with it. I'll look into the relevant part of Calypsoify removal to investigate.

[2021-06-21 08:41] ilyasfoo commented on #684
I've found out that Canada Post original setup task was removed in https://github.com/Automattic/wc-calypso-bridge/pull/561/files#diff-f550a8568c500f26c3c463f03901ca0c4c422f6922ffb68fe1a1c184e60b1b7eL401-L411. I've also looked at other tasks in the list and I think it's safe to say that no other extensions are affected by notice suppression since most of them would have their respective task built

[2021-06-21 17:39] pmcpinto opened #686 "Include WCPayments menu item in Business and eComm plan customers using Woo"
**Description:** we want to run this initial test to validate if have WCPayments as a "default" option with a menu item can boost adoption among existing merchants.

**Acceptance criteria:**
- [x] #688
- [x] #689
- [x] #690
- [x] #691

**Event tracking:**
TBD

**Additional info:**
Project thread: paJDYF-1Yz-p2
Welcome screen mockup w/ financial incentive: paJDYF-1Yz#comment-6585-p2

[2021-06-21 17:41] pmcpinto commented on #686
@becdetat I don't know which team will handle this. Let me know if I need to add more details. Thanks

[2021-06-23 02:25] #684 closed

[2021-06-23 05:36] ilyasfoo commented on #684
Just merged to wpcomsh in 704-gh-Automattic/wpcomsh, normally it will deployed to WPCOM within a day

[2021-06-28 00:28] becdetat commented on #686
@pmcpinto Currently Ghidora will handle this. cc @samueljseay

[2021-06-29 00:29] samueljseay opened #688 "Display the WCPayments menu item red badge to US Business/eCommerce plan customers"
Add a menu item named "Payments" with a red "1" badge linking to the [Welcome screen](https://github.com/Automattic/wc-calypso-bridge/issues/692).

The menu item should display under the following conditions:

- WC Pay plugin is not installed.
- Store is located in the U.S.
- Store has not [opted out](https://github.com/automattic/wc-calypso-bridge/issues/691). Perhaps add a new WP option to keep

[2021-06-29 03:11] samueljseay opened #689 "Reuse one of the financial incentives implemented for the new existing store acquisition experiment"
Stores that set up WC Pay should have the "no transaction fees for 3 months" promo applied to their account.

[2021-06-29 03:11] samueljseay opened #690 "Automatically redirect merchants to the KYC flow after they install the extension"
The WC Pay welcome screen has a "Get Started" button.

![image](https://user-images.githubusercontent.com/9312929/124141299-e32c4180-dabb-11eb-963b-c0f9c0a7f8e5.png)

This button should install WCPay while showing loading/progress, then redirect to `wcpaySettings.connectUrl` global var after installation.

[2021-06-29 03:11] samueljseay opened #691 "Allow merchants to remove the WCPayments menu item if they don’t want to adopt our product"
The welcome page has a “No thanks” button.

![image](https://user-images.githubusercontent.com/9312929/124137527-56cc4f80-dab8-11eb-95f0-db1b0bb9e458.png)

When this button is pressed, the store should no longer display the Payments menu item. Additionally, an exit survey will appear (issue #694).

[2021-06-29 03:44] samueljseay commented on #688
Copying comments from @ilyasfoo about the required work here:

We'd have to:
- [ ] Add React support in bridge
- [ ] Add a menu item with conditional show/hide - if users disabled it. We'll need to make sure this menu item is also displayed on WooCommerce Navigation.
- [ ] Add the new welcome page with the capability to install WCPay while showing loading/progress, and redirect to wcpaySettings.co

[2021-06-29 03:46] samueljseay commented on #689
Copying down comments from @ilyasfoo about required work here:

According to WCPay server code, the promo is applied during connect flow if the user had actioned on any notes. [This](https://github.com/Automattic/woocommerce-payments-server/blob/trunk/server/wp-content/rest-api-plugins/endpoints/wcpay/class-oauth-redirect-controller.php#L206) is the relevant code in the server and [this](https://g

[2021-06-29 03:47] samueljseay commented on #689
Comments on @adrianduffell :

Still investigating this. Seems like we’d need to apply a discount on the WC Pay account. https://wcpay.wordpress.com/2021/04/27/wcpay-existing-store-acquisition-experiment-v2/

[2021-06-29 03:49] samueljseay commented on #691
Comments from @adrianduffell copied here:

This looks like part of the welcome page with the “No thanks”. It could be done by adding a new option to track whether the user has opted out, then hiding the menu item if they have.
Looks like there might also be some plans to add an exit survey as well? paJDYF-1Yz-p2#comment-6656

[2021-06-29 03:53] samueljseay commented on #690
I'm estimating this as a 2, because I think based on discussion that once everything else is in place this will be a relatively small task.

@adrianduffell @ilyasfoo could you confirm?

[2021-06-29 11:32] adrianduffell commented on #690
Yeah 2 sounds good to me 👍

[2021-06-30 16:46] mattsherman commented on #691
Moving this to Ghidorah Dev Sprint (looks like it was assigned to Mothra Dev Sprint by accident).

[2021-07-01 08:42] adrianduffell opened #692 "Add WC Pay welcome screen"
![image.png](https://images.zenhubusercontent.com/5f56e5a83c18801db083d2ad/ac338a62-56f2-4c1f-91f0-c2cd8b914612)

 [Figma](https://href.li/?https://www.figma.com/file/7QOkvxzz1ylS3QBS4zqW8R/Payments-experiments?node-id=8537%3A35116)

- There is a new [Onboarding package](https://github.com/woocommerce/woocommerce-admin/tree/main/packages/onboarding) containing components that may be able to be re-

[2021-07-01 08:45] adrianduffell opened #693 "Add React support"
The Welcome screen in #692 should use React components to allow code re-use.

Some tooling was recently added in PR https://github.com/Automattic/wc-calypso-bridge/pull/655. We'll need to build some more infrastructure on top of it to support React.

[2021-07-01 08:51] adrianduffell commented on #688
I've split the Welcome Page & React requirements into their own issues #692 #693.

[2021-07-01 09:54] pmcpinto commented on #691
Sorry, I missed this ping. Yes. It’s the best way to collect feedback from customers that don’t want to use WCPayments. And this feedback will be extremely useful if we want to apply the same strategy across all Woo stores.

[2021-07-01 11:05] ilyasfoo commented on #689
Have we decided which financial incentive we'd want to reuse? cc @pmcpinto

[2021-07-01 14:01] adrianduffell opened #694 "Add exit survey to WC Pay welcome screen"
An exit survey should display upon clicking "No thanks" on the WC Pay welcome screen.

![image](https://user-images.githubusercontent.com/9312929/124138089-e540d100-dab8-11eb-98e5-328ea4f6414a.png)

The feedback should be collected with a Tracks event.

The approach for the [Customer Effort Score modal](https://github.com/woocommerce/woocommerce-admin/blob/de1c79df0efdac16eb83b337a2ba9cce8b352ae0/

[2021-07-01 14:06] adrianduffell commented on #691
I moved the exit survey out to it own issue #694.

[2021-07-01 14:22] pmcpinto commented on #689
Adrian asked me the same yesterday :) I gave feedback here: paJDYF-1Yz#comment-6814-p2

[2021-07-01 18:32] moon0326 commented on #689
@ilyasfoo is correct on that. WC Pay Server checks for the actioned status of a note to determine promo eligibility. This [PR](https://github.com/Automattic/woocommerce-payments-server/pull/835) can be a good reference.

[2021-07-02 01:44] ilyasfoo commented on #690
Adding a detail we had in sprint planning call, we can try to use either the wp.data store `wc/admin/plugins` (the most optimal) or directly to API `/wc-admin/plugins/install`. Business step in OBW would be a good reference

[2021-07-05 00:49] #693 closed

[2021-07-05 10:56] ilyasfoo commented on #690
@pmcpinto The existing track in WCPay used to connect is `wcadmin_wcpay_connect_account_clicked`. Do you want to have a different track for when users connect via the wcpay in core experiment? Or maybe an additional prop to differentiate?

[2021-07-05 17:15] pmcpinto commented on #690
@ilyasfoo I think that probably having a different event or `wcadmin_page_view` `path` prop is enough. @oneillo what do you think?

[2021-07-06 00:25] oneillo commented on #690
@pmcpinto @ilyasfoo - I like the idea of using a new `wcadmin_page_view` prop to distinguish when a user sees the version of this screen in the experiment and keeping the existing track for connecting WCPay the same. I think it better reflects the situation; that a user is seeing this screen that they may not have seen previously, and if they connect, they are taking the same action they would hav

[2021-07-06 01:45] ilyasfoo commented on #690
@pmcpinto @oneillo Just to make sure I understood this correctly, do we want to add a new prop `wcadmin_page_view` with the `path` as its value into `wcadmin_wcpay_connect_account_clicked` track event?

Also, note that this new prop will only exist when users connect via this project. The original track in WCPay will not contain this new prop.

[2021-07-06 04:37] adrianduffell commented on #692
@pmcpinto @elizaan36 Do you have the FAQ content ready for this?

[2021-07-06 04:49] adrianduffell commented on #688
@moon0326 I updated the description with the requirements about how the menu item should conditionally display.

[2021-07-06 08:49] pmcpinto commented on #692
@elizaan36 can you give feedback on this? I'm not finding the Figma file with the latest design, and I'm not sure if it included all the FAQs. Thanks

[2021-07-06 09:01] pmcpinto commented on #690
@ilyasfoo I think the goal is to add a new value to the `path` prop of `wcadmin_page_view` when the user visits this variation of the welcome screen and keep the event triggered when clicking on the main button:
`wcadmin_page_view`
`path`: `payments_connect_dotcom_test`

Makes sense?

[2021-07-06 16:14] elizaan36 commented on #692
We'll need to create the FAQ content. I'll start a shared doc this week.

[2021-07-06 20:24] moon0326 commented on #688
@adrianduffell Thank you Adrian. I will open a new PR with the changes.

[2021-07-06 20:44] moon0326 commented on #688
@samueljseay @adrianduffell

Do we also want to include the menu when the WC Payment is installed, but not active?

[2021-07-06 21:11] moon0326 commented on #688
PR is here https://github.com/Automattic/wc-calypso-bridge/pull/703

[2021-07-07 10:52] adrianduffell commented on #688
We went ahead and included the menu when the WC Pay plugin is installed, but not active.

PR #703 closes this.

[2021-07-07 10:52] #688 closed

[2021-07-08 18:28] elizaan36 commented on #692
Here's a shared doc with some starter questions - https://docs.google.com/document/d/1txfcYxA_1ha8QhOTRdXtZ7QLhq5enIAvxPlNGI1v_X8/edit#

Who would be the best point of contact to help create this on the payments side? I wonder if they have existing FAQ we can use.

[2021-07-08 18:34] elizaan36 commented on #692
Regarding the help link on this screen, I'm thinking we can include it below the FAQ in the same card.

<img width="680" alt="Screen Shot 2021-07-08 at 11 33 33 AM" src="https://user-images.githubusercontent.com/5121465/124973476-6c71d580-dfe0-11eb-9cf4-cad62d0b0b89.png">

[2021-07-08 18:43] moon0326 commented on #691
@pmcpinto @adrianduffell When a user closes the exit survey modal, where should we redirect them? I'm thinking we could redirect the user to "My Home" page.

[2021-07-09 02:39] #694 closed

[2021-07-09 02:40] adrianduffell opened #707 "Add payments setting"
Users should be able to re-enable the Payments menu item after dismissing it with the "No, thanks" button.

A new WooCommerce setting needs to be added  for this called "Payments". We perhaps also need to switch our existing usage of the `wc_calypso_bridge_payments_dismissed` option to use this setting instead?

The exit survey states:

[2021-07-09 10:21] pmcpinto commented on #692
@bmccotter can you provide some guidance on this? Thanks!

[2021-07-12 06:11] ilyasfoo commented on #690
Ok, understood!

[2021-07-12 06:17] ilyasfoo commented on #690
The track is added in https://github.com/Automattic/wc-calypso-bridge/pull/709

[2021-07-12 21:25] #691 closed

[2021-07-12 21:31] #689 closed

[2021-07-13 00:55] bmccotter commented on #692
@elizaan36  I requested access. Can you also please share with @thenbrent

[2021-07-13 04:37] thenbrent commented on #692
We have a publicly available FAQ here: https://docs.woocommerce.com/document/payments/faq/

If you just want to put this together quickly, you could pull 3-5 from there. Those FAQs are mostly focused on questions people have after using the product though, not before (i.e pre-sales) which would be better here.

Orlando's idea of asking Happiness for common pre-sales questions is a good one (p6q7sZ

[2021-07-14 20:13] elizaan36 commented on #692
Thanks all for the help with putting the FAQ together. I think we can use the top 5 questions in the [shared doc](https://docs.google.com/document/d/1txfcYxA_1ha8QhOTRdXtZ7QLhq5enIAvxPlNGI1v_X8/edit?ts=60e82602#). This includes the top 3 most visited FAQ's currently as well as information about the promotion and plugin compatibility.

[2021-07-15 11:40] #690 closed

[2021-07-19 21:08] moon0326 opened #716 "Fix WC Pay menu icon and notification"
I've found two issues with the WC Paymenu while testing on wp.com.

1. The WC Pay menu icon is not displayed correctly on "My Home" menu due to missing CSS.
2. The notification badge isn't displayed.
3. I also noticed that we render two WC Pay menu when the navigation feature is turned off.

[2021-07-22 11:13] mattsherman commented on #679
Closing this -- this placeholder epic was never used. Other issues were created instead.

[2021-07-22 11:13] #679 closed

[2021-07-22 13:47] adrianduffell commented on #686
@pmcpinto @elizaan36 @becdetat I have created a demo video hoping to finalize and declare this as done. Enjoy! 🍿

https://user-images.githubusercontent.com/9312929/126649100-9ff11bb6-45b2-479a-a176-855b02e5303a.mp4

[2021-07-22 15:58] pmcpinto commented on #686
@adrianduffell thanks for sharing the demo. It looks great. Just to confirm, the event tracking is workly properly, right?

cc @oneillo @thenbrent in case you want to take a look at the demo

[2021-07-22 18:19] jeffgolenski opened #720 "Add "Launch site" context and CTA to Woo dash for wpcom eComm customers"
Outlined in detail here: pd2qGl-aS-p2

When a customer signs up for an eCommerce plan on WordPress.com they're brought through a few different onboarding flows. Their linear onboarding ends in the WooCommerce dashboard, where we have two concerns:

1) There's no context set for WordPress.com eCommerce customers that their experience is powered by Woo
2) Their site is private until they launch. But

[2021-07-23 03:03] ilyasfoo commented on #686
@pmcpinto I have tested and confirm the following tracks work:

1. On opening the payments welcome page `wcadmin_page_view` with props `{path: "payments_connect_dotcom_test"}`
2. On clicking "Remove and send feedback", `wcadmin_wcpay_exit_survey` with props `{happy: "Yes", install: "No", moreInfo: "No", anotherTime: "Yes", somethingElse: "No", …}`
3. On clicking "Get Started", `wcadmin_wcpay_conne

[2021-07-23 04:06] thenbrent commented on #686
Looking great! Thanks for the demo @adrianduffell and work on this one @moon0326, @ilyasfoo, and others.

[2021-07-23 09:58] pmcpinto commented on #686
Thanks @ilyasfoo

One additional thing that we should track, in order to have a clear picture of the funnel, is viewing the menu item with the red badge. Is there a way to track this?

[2021-07-23 11:18] ilyasfoo commented on #686
@pmcpinto I think that's only partially possible with only wp-admin interface being tracked. Calypso will have the badge displayed but getting it tracked would take a considerable amount of effort since we'd need to build it in a different repo, I estimate to be at least 5.

Also if the user has WooCommerce navigation there's no red badge displayed, so I'm thinking it could also skew some of the r

[2021-07-23 16:26] pmcpinto commented on #686
Thanks for your feedback. That's a lot of work. Let me think about this during the weekend.

I just noticed that the starting point in the demo is the wp-admin menu. But AFAIK the Dotcom team unified the menu UI and customers can only use this UI: https://d.pr/i/KmpZNK
Has this flow been tested with this menu UI?

[2021-07-26 00:51] ilyasfoo commented on #686
@pmcpinto Yes, we've tested it in the unified menu too, it will look like the following:

![image](https://user-images.githubusercontent.com/3747241/126919446-c797f661-9d25-4d9c-a8ad-58f9c84be719.png)

[2021-07-26 10:50] pmcpinto commented on #686
Thanks! @ilyasfoo @adrianduffell it seems that we're ready to ship it, right?
Can you just give a heads up to wpcom happiness in their p2 (wpcomhappy)? I don't expect a spike in terms of tickets because of this, but it's better to make sure they're aware of this experiment. Thanks.

[2021-07-27 04:14] adrianduffell commented on #686
Thanks @pmcpinto!

Yep, we are all ready to ship. It has now been scheduled for [Wednesday, July 28 1AM UTC](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Launch+Bridge&iso=20210728T01&p1=1440).

I'll update Happiness in the meantime!

[2021-08-02 02:32] becdetat commented on #686
@adrianduffell if this is ready, can you make sure the ticket is moved to the correct swim land in ZenHub? I use that as my source of truth for determining what's in progress and what is coming up.

Thanks :-)

[2021-08-02 02:47] adrianduffell commented on #686
@becdetat Sorry, I didn't post an update here but we moved the deployment to today (Monday).

I'll close this out once it's deployed and tested well.

[2021-08-02 11:43] adrianduffell commented on #686
This is now deployed! 🎉

I'll close it out, which I think puts it in the correct ZenHub swim lane.

[2021-08-02 11:43] #686 closed

[2021-08-03 01:06] adrianduffell commented on #692
This is now finished.

[2021-08-03 01:06] #692 closed

[2021-08-03 01:41] becdetat commented on #686
Thanks 🥳

[2021-08-03 01:48] #707 closed

[2021-08-11 23:53] moon0326 opened #726 "Revert CSS fix for Gutenberg CardBody"
CSS changes were added in https://github.com/Automattic/wc-calypso-bridge/pull/710 to fix CSS issue with CardBody caused by Gutenberg version 11. Gutenberg team [fixed](https://github.com/Automattic/wc-calypso-bridge/pull/710) the issue in the latest version. We should revert our changes since it is no longer necessary.

[2021-09-01 21:32] AtrumGeost opened #745 "WooCommerce Category Product sorting not working only on Atomic sites"
### Steps to Reproduce

1. Create/publish some products and assign a category to them
2. Head over to **WooCommerce > Categories**, click on the number next to the category
3. Once you are on the category products dashboard, click on the **Sorting** link at the top
4. Drag products to reorder them
5. Refresh the page and notice the changes are not saved

https://user-images.githubusercontent.com/3

[2021-09-02 10:35] zdenys opened #742 "New WooCommerce Navigation: Unstyled Vertical Scrollbar"
### Steps to Reproduce

1. Navigate to WooCommerce section on a site with the [the new WooCommerce navigation on WordPress.com](https://wordpress.com/support/new-woocommerce-experience-on-wordpress-dot-com/), such as an WordPress.com eCommerce Plan site.
2. Resize the browser window being until you see the vertical scrollbar appear in the left sidebar

### What I expected to happen

The style of t

[2021-09-06 09:37] zdenys opened #741 "New WooCommerce Navigation: Long Site Title Doesn't Fit Well And Gets Cut Off"
### Steps to Reproduce

1. Start with an WordPress.com eCommerce Plan site with WooCommerce
2. Set a long site title (example: `Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.`) in My Site → Settings → General → Site Title
3. Navigate to WooCommerce section

### What I expected to happen

Se the entire site title fit weel

[2021-09-08 13:22] adrianduffell opened #744 "Next Steps for WC Payments in Core"
In #721, the Payments menu item was added by default to business/ecomm plan sites.

The next steps are:

- [ ] Expand it to additional countries (TBA approximately 6-7).
- [ ] Content changes (TBA).
- [ ] Minor design changes. (TBA).

[2021-09-08 13:23] adrianduffell commented on #744
@pmcpinto @elizaan36 Could you please add more details about these items once available? Ghidorah can work on this in Cycle 17.

[2021-09-08 18:36] elizaan36 commented on #744
👋 Here's an updated layout for the welcome screen.

The actions have been moved to the right side of the header card, and the incentive is separated into its own card between the header and FAQ. Everything else is consistent with i1.
![WCPay welcome](https://user-images.githubusercontent.com/5121465/132565535-17a4c0d6-42d4-4cc8-9106-e4026a9a8a79.png)

And the updated content for the FAQ is in [thi

[2021-09-09 18:58] elizaan36 opened #746 "Dropdowns are disabled in tax settings"
After looking through some of the customer effort score feedback, I investigated an issue that kept coming up. It seems like some of the dropdowns are disabled in Settings > Tax for Ecom plan stores. This happens whether the new nav is disabled or not.

<img width="1021" alt="Screen Shot 2021-09-09 at 1 51 15 PM" src="https://user-images.githubusercontent.com/5121465/132746432-a7bccfd2-3679-4e88-8

[2021-09-09 19:02] elizaan36 opened #747 "Navigation: Feature toggle is shown twice when wc-admin is installed"
In Ecom plan stores, when wc-admin is installed, there are two checkboxes appearing to enable or disable the new nav.
<img width="1690" alt="Screen Shot 2021-09-02 at 2 43 13 PM" src="https://user-images.githubusercontent.com/5121465/132746717-f88765ee-23bb-4922-91ea-fcd30bfa85cf.png">

It's required to uncheck both to disable the navigation, then the nav disappears altogether. A refresh will brin

[2021-09-09 23:27] moon0326 opened #748 "Calpyso menu items are out of sync on eCom plans"
WooCommerce displays two different menus on Calpyso and WPAdmin

`wc-calypso-bridge` enables the `navigation` feature [by default ](https://github.com/Automattic/wc-calypso-bridge/blob/master/includes/class-wc-calypso-bridge-setup.php#L40) on eCom plans.

When the `navigation` is enabled, we should not see the legacy coupon menu **WooCommerce -> Coupons**.

Calypso pages use the admin menu API (ht

[2021-09-10 10:32] pmcpinto commented on #744
I updated the issue description with the acceptance criteria. @elizaan36 do you think we should move forward with the "remind me later" idea?

[2021-09-10 13:52] elizaan36 commented on #744
Absolutely! So if the user navigates away from the welcome screen without taking action (either removing Payments or Installing), an Inbox note is sent as a reminder for follow up a few days later?

[2021-09-10 17:22] elizaan36 commented on #744
aha. In that case I don't think a "Remind me later" action would be very useful for merchants. If users want to come back to it later, they can navigate away until they're ready, that's why I thought you were referring to an automatic reminder. I don't see a benefit in adding another choice for merchants on this screen.

The only place it would make sense is in the "Remove" modal, but that would a

[2021-09-13 10:28] pmcpinto commented on #744
@elizaan36
I wouldn't survive one day without a "remind later" feature in some products like Gmail 😅

I thought a bit more about this and it makes sense to keep it simple with an automatic reminder. Can you work on the inbox copy? what do you think about triggering the reminder 3 days after they view the welcome screen?

[2021-09-13 16:29] elizaan36 commented on #744
Yep, will think about copy and have a look at the notes we already have for WCPay. I think 3 days sounds reasonable.

[2021-09-16 18:25] mattsherman commented on #747
@elizaan36 I cannot reproduce this with a new eComm site. Can you let me know what version of WooCommerce you are seeing this with, and if WooCommerce Admin is also installed as a standalone plugin?

[2021-09-16 18:38] mattsherman commented on #746
@elizaan36 I think this is by design, and due to the WooCommerce Shipping and Tax extension.

With automated taxes disabled:

<img width="1266" alt="Screen Shot 2021-09-16 at 14 34 38" src="https://user-images.githubusercontent.com/2098816/133666519-99104310-71ad-4db5-8b4d-d5867185a56b.png">

With automated taxes enabled:

<img width="1266" alt="Screen Shot 2021-09-16 at 14 34 26" src="https://use

[2021-09-16 20:37] elizaan36 commented on #747
Thanks for looking into this. Here's the plugin info:
<img width="927" alt="image" src="https://user-images.githubusercontent.com/5121465/133682400-782526b3-41e3-41f8-ac4d-109580663970.png">

WooCommerce 5.6 and WCA 2.6.2

[2021-09-16 20:42] elizaan36 commented on #746
Ah, you're right. This is a design issue. I'm going to keep this issue open for myself to come back to.😅

The name thing is strange though - the plugin should be up to date with `Version 1.25.18` and says "WooCommerce Shipping & Tax" in the plugins folder of this site.

[2021-09-17 18:52] mattsherman commented on #746
I'll assign this one to you for now, to note that. Though, perhaps we should move this issue to the [`Automattic/woocommerce-services` repo](https://github.com/Automattic/woocommerce-services)?

Odd. That's the same version of the plugin I'm using. Again, perhaps it would be good for you to open up an issue in the `woocommerce-services` repo about this, as it seems directly related to that extensi

[2021-09-17 19:40] mattsherman commented on #747
@elizaan36 Thanks! I can reproduce this. It occurs when wc-admin is installed as a standalone plugin.

@pmcpinto What should be the priority of addressing this?

[2021-09-20 10:03] pmcpinto commented on #747
This feels like an edge case, but I'll add it to the backlog of the upcoming cycle.

[2021-09-27 10:10] ilyasfoo commented on #744
Hey @elizaan36, I've looked at the [design](https://user-images.githubusercontent.com/5121465/132892372-ecd703d8-3ae0-4ecc-b2f0-a23925b69825.png) and it seems the banner copy is using another promo's copy, which I think was unintended. I've made the changes but I retain existing promo copy:

![image](https://user-images.githubusercontent.com/3747241/134888608-8534e262-4c9c-470f-81b2-b8aac4d4f1da.p

[2021-09-27 19:22] elizaan36 commented on #744
Looks good, my only question would be whether the "Save $800 in fees..." is still accurate. (From the body copy in the first card)

Also, the FAQ card seems to be using slightly different text weight than the others. Want to make sure we're not introducing any new text styles there, just use the same as what's available/to match other text components in the other cards.

[2021-09-28 02:09] ilyasfoo commented on #744
@elizaan36 Good catch, I'll change it to "Save up to $125,000 in fees" to reflect this promo.

Indeed, I've added a little bit of weight for the accordion title and FAQ card header. I'll change it back to default.

[2021-09-28 02:18] ilyasfoo commented on #744
@elizaan36 Ah, ok!

[2021-09-28 02:20] ilyasfoo commented on #744
Updated, let me know if anything else needs to be changed!

![image](https://user-images.githubusercontent.com/3747241/135011755-c3a369e4-fa9e-4215-b68e-37c33573e6d5.png)

[2021-09-28 02:25] elizaan36 commented on #744
Looks perfect to me, just one really small nitpick to remove the period after "Terms of service" in the header.

[2021-09-28 02:25] ilyasfoo commented on #744
Sure thing!

[2021-11-02 16:59] pmcpinto commented on #744
@adrianduffell what's the note-name of the inbox reminder? There's one inbox called `wc-calypso-bridge-payments-remind-me-later` but it's getting 0 views, so I'm not sure if this is the right message

[2021-11-03 08:21] adrianduffell commented on #744
@pmcpinto Hmm `wc-calypso-bridge-payments-remind-me-later` is the right one.

I'll test this out further and see if the note appears for me.

[2021-11-03 14:13] mattsherman commented on #747
I mistakenly kept myself assigned to this after grooming. Removing myself, as I am not actively working on it.

[2021-11-04 10:14] pmcpinto commented on #744
@adrianduffell thanks! Let me know when you have news about the inbox message.

[2021-11-05 03:50] moon0326 commented on #744
@adrianduffell @ilyasfoo @pmcpinto

I tested the change locally and it worked as expected, but the test on wordpress.com did not work.

`wc-calypso-bridge` did not register `wc_calypso_bridge_daily` cron event, which is required to create the note.

We use [register_activation_hook](https://github.com/Automattic/wc-calypso-bridge/blob/master/includes/class-wc-calypso-bridge-events.php#L27) to regi

[2021-11-06 00:40] moon0326 opened #763 "Fix WC Pay note not appearing"
This is a follow-up issue for https://github.com/Automattic/wc-calypso-bridge/pull/756

The note described in the PR does not show up as expected due to the missing cron event.

We used `register_activation_hook` to register the cron event, but it never gets triggered as `wc-calypso-bridge` is a part of MU plugin (wpcomsh). MU plugins do not have activation/deactivation.

As an alternative, we can

[2021-11-08 03:29] ilyasfoo commented on #744
Oops, I really thought I've been thorough in my WPCOM test, sorry to have missed that. I may also look into it further

[2021-11-11 01:49] ilyasfoo commented on #744
Hi @pmcpinto, the fix for inbox note reminder is deployed

[2021-11-11 09:31] pmcpinto commented on #744
👍 thanks for the heads up!

[2021-11-15 09:58] adrianduffell commented on #763
Closing, this was fixed by https://github.com/Automattic/wc-calypso-bridge/pull/764

[2021-11-15 09:58] #763 closed

[2021-11-15 20:27] mattsherman commented on #678
I'm not really sure that this was ever an issue. The screenshot of the "issue" on an eComm site appears to show a sidebar that *should* have a scrollbar, since it is taller than the available vertical space.

I have attempted to reproduce this on an eComm site, and the scrollbars appear and disappear as appropriate.

Closing this.

[2021-11-15 20:27] #678 closed

[2021-11-22 23:42] mattsherman commented on #747
@joelclimbsthings What is the status on this one?

[2021-11-22 23:51] joelclimbsthings commented on #747
@mattsherman I was still trying to reproduce in my dev environment, but put it off during the cool-down. Not sure of the priority, but my intention was to revisit with the coming sprint.

[2021-11-23 01:13] mattsherman commented on #747
Thanks. I'll move it back to the Cycle Backlog, at the bottom of the pipeline, priority-wise. It is an edge case that, while annoying, is not really harmful. I'll also un-assign you for now, since you are not actively working on it.

[2021-11-23 04:13] lsl opened #769 "Hide theme selection in woo onboarding"
Refresh of https://github.com/Automattic/wp-calypso/issues/55406

Implemented in https://github.com/Automattic/wc-calypso-bridge/pull/732

- [ ] Retest
- [ ] Merge

[2021-11-30 19:14] louwie17 commented on #769
Hi @lsl,
Where you hoping to re-add the logic referenced in #732? Do you happen to have more context on why the themes step should be hidden again?
cc'ing @pmcpinto so that you are also aware of this.

[2021-11-30 23:50] lsl commented on #769
@ianstewart might be able to answer that question better. Eventually we'll be dropping the onboarding flow entirely in favor of one that happens in calypso, the new flow won't include a theme step. We'll be using it for a little while until we've finished building out the new flow.

[2021-12-07 18:58] joshuatf commented on #720
Thanks for the proposal, @jeffgolenski!

This would involve extending this page in the WooCommerce Admin repo as well.  I think a SlotFill approach in the main area or on a per-page basis would be best here as opposed to hard coding this in the WCA repo.

I'll open an issue in WCA to address this.  I'll also write up a p2 post on SlotFill extensibility this week so we can take a deeper dive in @Au

[2021-12-07 19:01] joshuatf commented on #720
WooCommerce Admin issue created here - https://github.com/woocommerce/woocommerce-admin/issues/8010

[2021-12-07 19:17] joshuatf commented on #741
Thanks for the bug report @zdenys!  I'm able to reproduce this issue with the new navigation turned on.

I wonder if truncating the site title with an ellipsis would be appropriate or if the full site title would always be preferred.  My concern with displaying a full site title is pushing the rest of the menu out of alignment, but it is certainly an option.  cc @pmcpinto @elizaan36

I'm going to

[2021-12-07 20:55] joshuatf commented on #742
Closing this issue; new issue created in the WooCommerce Admin repo - https://github.com/woocommerce/woocommerce-admin/issues/8013

[2021-12-07 20:55] #742 closed

[2021-12-07 21:14] joshuatf commented on #745
Thanks for noting this issue!  I don't think this behavior is impacted by WC Calypso Bridge and the functionality originates in WooCommerce core.  I've created an issue over there to track it - https://github.com/woocommerce/woocommerce/issues/31389

[2021-12-07 21:14] #745 closed

[2021-12-09 20:11] joshuatf commented on #769
I'd love to get more context on this.

I assume we're only talking about ecomm/atomic plan sites here.  In which case we're looking at a way to disable and/or filter pieces of the onboarding.

cc @ianstewart @pmcpinto

[2021-12-09 22:13] lsl commented on #769
It will eventually be all wpcom plans but yes, not talking about replacing it for general woo installs.

We're going to be using the same questions and setting the same options after transfer as if the user went through the profile wizard.

At a later date - we might want to try and port the new design / step components into woo's admin plugin too but that is very far off.

[2021-12-10 20:20] joshuatf commented on #769
Will this be synced with the `woocommerce_onboarding_profile` option or is information strictly held in Calypso?

It may be of some benefit to create a data store or simple API for setting/retrieving profile information if it's going to be shared to prevent data from becoming corrupt.

[2021-12-13 02:26] lsl commented on #769
Yes

I tried to convey some more context on p2 earlier today pbIJXs-143-p2#comment-3122, this might help understand what and why.

This sounds like a good idea, I don't know how much of a problem it really is in practice but the onboarding changing in woo and breaking our onboarding (or at least making it not take effect) is a bit of a concern I have with this approach.

[2021-12-14 15:30] pablinos commented on #769
Is this a blocker that prevents us launching the flow this cycle? It seems like it's an improvement, that's not needed right now. Is that the case @lsl ?

[2021-12-14 15:55] joshuatf commented on #769
IMO this is not a blocker and we do directly modify via options around WooCommerce Admin, but this code would be brittle and prone to corruption should the data structure ever change in the onboarding profiler.

This has happened in the past with the industries data schema changes.

Since you may be looking at hiding steps or completing the baked in Woo onboarding early, it sounds like you'll be m

[2021-12-21 15:46] #747 closed

[2022-01-11 18:18] moon0326 opened #772 "Avoid rendering WC Pay Menu if WCA has it already"
We've been working on moving WC Pay menu into WCA (https://github.com/woocommerce/woocommerce-admin/issues/8062), but we also want to keep the same feature in `wc-calypso-brdige` for those users who do not update to the latest WCA. However, we need to avoid rendering the same WC Pay Menu twice in the bridge and WCA.

Make a change in `wc-calypso-bridge to detect WC Pay Menu from WCA. If detected,

[2022-01-13 01:23] becdetat commented on #581
@pmcpinto Ok, I'll include it in the planning. I assume that the above conversation between you and Timmy is still valid?

[2022-01-13 17:27] pmcpinto commented on #581
Yes. It's better to start with the areas I listed [here](https://github.com/Automattic/wc-calypso-bridge/issues/581#issuecomment-687267915) cc @jarekmorawski in case you have any suggestion or question

[2022-01-17 18:16] obenland commented on #769
Fixed in https://github.com/Automattic/wc-calypso-bridge/pull/732

[2022-01-17 18:16] #769 closed

[2022-01-19 21:56] mattsherman commented on #581
If that is the case, the issue description should be updated... any reason why it wasn't?

[2022-01-20 20:47] mattsherman commented on #772
@moon0326 Are you currently working on this? I see you assigned. If so, please move to the correct pipeline. Thanks!

[2022-01-20 20:54] moon0326 commented on #772
Thank you for the reminder 👍

[2022-01-24 11:09] pmcpinto commented on #581
Sorry for the late reply. I still need to update the description. I chatted with Legal and they want to be included in any discussion regarding 3rd party tracking. I'll publish a post this week to make sure that we can move forward with this.

[2022-01-25 21:32] #726 closed

[2022-01-26 06:52] #772 closed

[2022-01-27 22:17] #716 closed

[2022-01-27 22:29] moon0326 opened #776 "Fix incorrect WC Pay menu icon on calpyosified pages"
The WC Pay menu renders an incorrect icon on some calpyosified pages.

The WC Pay plugin uses CSS to set the menu icon, but some calpyosified pages (e.g, My Home) do not include plugin CSS files causing the menu icon to default to the dashicon.

We need to do two things.

1. Use base64 icon data in the WC Pay plugin. This fixes the menu on the calpyosified pages.
2. Use CSS to render the icon in `

[2022-01-28 22:51] #776 closed

[2022-04-06 22:50] coreymckrill opened #782 "Help header and modal in WooCommerce setup screen gets cut off"
I encountered this while working on setting up a test site on Atomic:

![Screen Shot 2022-04-05 at 14 44 50](https://user-images.githubusercontent.com/916023/162084978-c5cf78bb-adb4-4df3-9e79-05498f287bd1.png)

Using the latest Firefox.

This happened when I started setting up WooPay, left the screen, and then came back to it (maybe I left twice?). Refreshing the screen fixed the layout so I was a

[2022-05-17 20:49] moon0326 opened #787 "Fatal error when WooCommerce is deactivated"
`wc_calypso_bridge_daily` event throws a PHP fatal error when WC is installed but deactivated.

We only load `wc-calypso-bridge` when it [detects](https://github.com/Automattic/wc-calypso-bridge/blob/master/wc-calypso-bridge.php#L20) WooCommerce, but we also need to check whether the plugin is activated or not. Otherwise, there is a chance that `wc-calypso-brdige` doesn't have access to certain cl

[2022-05-18 01:23] #787 closed

[2022-06-16 20:54] moon0326 commented on #782
Closing it for now as we've been unable to reproduce the issue. Please feel free to re-open it if needed.

[2022-06-16 20:54] #782 closed

[2022-08-29 18:55] moon0326 opened #797 "`pre_option_woocommerce_allow_tracking` hook doesn't work for WCTracker"
This [line](https://github.com/Automattic/wc-calypso-bridge/blob/master/includes/class-wc-calypso-bridge-tracks.php#L55) was added to set `woocommerce_allow_tracking` to `yes` for both Tracks events (pixel) and WCTracker (corn) use cases. However, it turned out that the change didn't work for WCTracker.

1. WCTracker is initialized in [class-woocommerce.php](https://href.li/?https://github.com/woo

[2022-08-30 03:36] #797 closed

[2022-08-30 18:09] moon0326 opened #799 "Add host param to WCTracker params"
We add [$properties['host'] = 'ecomplan'](https://href.li/?https://github.com/Automattic/wc-calypso-bridge/pull/540/files#diff-6867238b84d7715e6b363a676d749238be01c101cd90837606d3cc6992701f46R82) for Tracks.

Add the same property for WCTracker as well.

[2022-08-30 19:59] moon0326 opened #801 "Use pre_option_ hook for woocommerce_allow_tracking"
We've recently merged https://github.com/Automattic/wc-calypso-bridge/pull/798 to set `woocommerce_allow_tracking` value directly in the D.B.

However, as pointed out by @manospsyx [here](https://github.com/Automattic/wc-calypso-bridge/pull/798), it would be best if we keep the pre_option_hook

Look into see if there is a way to keep `pre_option_` hook.

[2022-08-31 15:08] #799 closed

[2022-08-31 15:10] #801 closed

[2022-09-14 10:10] PanosSynetos opened #806 "Revert WooCommerce Navigation Experiment"
The overall back and forth between the two navigations (WooCommerce and WordPress) causes a lot of friction and a disjointed experience.

### Goals
The goal of this project is to:

- [x] Stop opting new Ecommerce Plan sites into the Woo Navigation experiment.
- [x] Revert the experiment for existing users.
- [x] Prevent users from accidentally turning on this option later.

Ref: peapX7-ns-p2

[2022-09-15 11:30] xristos3490 opened #808 "Skip the Onboarding Profiler in the Ecommerce Plan"
### Description

The goal of this project is to:

- [x] Skip the Core Profiler for all merchants on the Ecommerce Plan.
- [x] Give merchants a way to enter their store’s address by preserving the existing Add store details Task in a pending state.
- [x] Change the behavior of the Add Store Details Task to take users to the WooCommerce > General settings, and fill in their Store Address.
- [x] Deli

[2022-09-15 13:33] PanosSynetos opened #809 "Suppress `Coupon management has moved` Note"
The note to inform the users that the coupons have moved, is no longer needed. Takes space and adds additional friction.

The same goes for the “duplicate” menu, one under WooCommerce and the other under Marketing.

### Goals

- [x] Stop creating new Coupon management has moved notes.
- [x] Remove the WooCommerce > Coupons menu.
- [x] Create a one-time operation controller, to delete all `wc-admin

[2022-09-21 10:16] PanosSynetos opened #812 "Disable activation notices - PB - GC"
This is related to Phase 1 of the **Streamline Onboarding to Ecommerce Plan Features** project peapX7-o6-p2

- [ ] Delete PB welcome notice
- [ ] Delete GC welcome notice

### Why?
Most Extensions display an onboarding notice upon activation that is designed to onboard the user when they activate the Extension in an existing store.

When pre-activating Extensions in the eCommerce Plan, it makes li

[2022-09-23 10:43] #806 closed

[2022-09-23 10:58] #809 closed

[2022-09-23 10:59] #812 closed

[2022-09-26 08:45] #808 closed

[2022-09-26 09:55] PanosSynetos opened #815 "Onboarding Profiler - Remove filters - Tests"
Since #808 we're skipping the onboarding profiler.

Let's cleanup any related filters and tests

cc @manospsyx to put it in Sprint 2 planning

[2022-09-26 10:41] #815 closed

[2022-09-27 12:14] PanosSynetos opened #818 "Cleanup Facebook for WooCommerce welcome notices"
These two notices will be removed, as they are part of the task list items, to be completed by the user

![image](https://user-images.githubusercontent.com/2484390/192523330-7fa3378c-923e-405c-b900-731155f357ff.png)

This is part of these projects
- pdqkbG-1M7-p2#review-facebook-extension-nux and
- peapX7-o6-p2

[2022-09-29 07:37] PanosSynetos opened #820 "Suppress inbox messages"
Ref: Part of this project: peapX7-o6-p2#comment-257

[2022-10-04 11:26] PanosSynetos opened #822 "Default to block-based cart/checkout"
Replace the cart/checkout shortcodes with cart/checkout blocks. Possibly handled via a one-time job until the block-based checkout becomes the default in WooCommerce Core. We will use the version of the Cart and Checkout Blocks shipped in WooCommerce Core, and later switch to the Product Blocks plugin.

Project: pdqkbG-1M7-p2#default-to-block-based-checkout

[2022-10-05 06:00] PanosSynetos opened #824 "Hide Write button in global bar"

[2022-10-05 09:24] manospsyx opened #825 "Limit activity panels to WooCommerce Home page"
### Description

Currently, the WooCommerce Header Bar and associated [activity panels](https://github.com/woocommerce/woocommerce/blob/trunk/plugins/woocommerce-admin/docs/woocommerce.com/activity-panels.md) are injected to every WooCommerce page. These elements:

- Introduce shortcuts to store management functions (process orders, moderate reviews, restock products) in locations where the user n

[2022-10-05 11:10] manospsyx opened #828 "Clean up Product list table columns"
### Description

Jetpack introduces 2 new columns to the Products list table:

- Stats
- Likes

Stats make little sense for products, as the Jetpack Stats module does not treat the products post type as a separate object/entity in Stats, while the Likes column pretty much takes up space and shouldn't be enabled by default: Merchants are unlikely to use it in their day-to-day activities.

[2022-10-05 12:42] xristos3490 opened #830 "Replace Calypso Home with WooCommerce Home"
### Description

This issue aims to replace the current Calypso Home with the WooCommerce Home. As part of this work, we will be introducing two new Tasks to the WooCommerce Home Task List:

- Choose a domain
- Launch your store

Once this is completed, the WooCommerce menu item will point to **WooCommerce > Orders** -- just like WooCommerce used to be before the **WooCommerce > Home** menu item w

[2022-10-07 07:52] PanosSynetos opened #832 "Enable logger to check woocommerce installation hooks"
Before releasing #822 (Default to block based checkout) we need to be able to check if execution passes from certain hooks.

As discussed with @manospsyx , the hooks would be
- `woocommerce_admin_onboarding_industries`
- `woocommerce_newly_installed`
- `woocommerce_create_pages`

[2022-10-07 10:34] manospsyx opened #834 "Streamline Jetpack defaults and UX for Ecommerce Plan users"
### Description

The goal of this task is to:

- Review and cherry pick Jetpack modules relevant to merchants.
- Pre-activate modules and set sensible defaults for the product post type where applicable.
- Move **Stats** under the Jetpack menu.
- Move **Jetpack > Akismet Anti-Spam** under **Settings > Anti-Spam**.
- Move **Settings > Jetpack** under **Tools > Jetpack Status**

[2022-10-11 07:35] PanosSynetos commented on #822
As discussed with @manospsyx , let's add an inbox note to let the users know to revert back to the legacy shortcode cart/checkout - Great idea!

cc @manospsyx I'd need the wording and the link to point to

[2022-10-11 10:34] #832 closed

[2022-10-11 10:34] #828 closed

[2022-10-11 10:35] #825 closed

[2022-10-11 10:41] #820 closed

[2022-10-11 10:45] #818 closed

[2022-10-12 09:37] PanosSynetos opened #838 "Hook `maybe_create_wc_pages` on a more appropriate place"
Currently, `maybe_create_wc_pages` is hooked into `woocommerce_admin_onboarding_industries`

Due to the fact that we've removed OBW, we shouldn't hook onto OBW related places.

Going back to the changes, I see that there were many different approaches to solve this issue

- March 12, 2021, `woocommerce_admin_newly_installed` https://github.com/Automattic/wc-calypso-bridge/commit/0706cefba29a916de5

[2022-10-12 11:14] #838 closed

[2022-10-13 06:18] PanosSynetos opened #841 "Revert #838"
Reverts #838

Reason?

Pages are not created and we cannot hook onto any WooCommerce installation hooks to create pages

- Simple site is created
- Posts table has some posts/pages
- User purchases ecommerce plan
- An atomic site is created where WooCommerce related pages are created
- Atomic platform copies over the posts table from simple to atomic
- WooCommerce pages are overwritten

Let's reve

[2022-10-13 06:34] #841 closed

[2022-10-20 09:26] xristos3490 opened #845 "Prevent the deletion of Ecommerce managed plugins"
### Description

The goal is to hide the "Delete" action in all of the plugins that are managed by the Ecommerce plan. Moreover, it would be nice to indicate that the plugins are managed with a notice(like wpcomsh does or with a similar UI).

More at

[2022-10-27 11:40] PanosSynetos opened #847 "Suppress Set up refund policy note"
Suppress note with ID `wc-payments-notes-set-up-refund-policy`

More info: peapX7-o6-p2#comment-583

[2022-10-31 07:18] PanosSynetos opened #848 "Incorrect refund page in note `wc-refund-returns-page`"
The note is added when woocommerce is installed (before the site becomes atomic) and at that point the refund page has an ID of 9.

The note is already in the DB, but those pages get deleted when merged with the simple site, and recreated by our one-time operation.

The solution I see is to delete the note from the DB (one-time operation) and add it again, so it’s recreated with the correct page I

[2022-10-31 14:07] #847 closed

[2022-10-31 15:49] xristos3490 opened #850 "Flatten the WooCommerce menu in Ecommerce plan"
### Description

The objective of this work stream is to investigate the feasibility of flattening the WooCommerce menu item as follows:

- Move the **Orders** menu item to the top level of our navigation, and expose All Orders and New Order submenu items.
- Move the **Customers** menu item to the top level of our navigation.
- Move **WooCommerce > Status** to **Tools > WooCommerce Status**.
- Mov

[2022-11-02 13:53] #834 closed

[2022-11-02 14:04] #824 closed

[2022-11-02 14:25] #822 closed

[2022-11-21 11:35] PanosSynetos opened #857 "Improve limiting activity panels to WooCommerce Home"
Currently, the activity panel is properly hidden when visiting
- wp-admin pages
- wc-admin pages

and it's properly displayed when you visit directly `admin.php?page=wc-admin`

But if you first visit a wc-admin page (ie `admin.php?page=wc-admin&path=%2Fcustomers`), and then click on the menu item to go to home `admin.php?page=wc-admin` the activity panel is hidden (should be visible).

Related iss

[2022-11-24 16:09] PanosSynetos opened #859 "Suppress Back In Stock activation notice"
As described in the project peapX7-o6-p2 we need to suppress the following notice

![image](https://user-images.githubusercontent.com/2484390/203827857-0ca192c7-07bd-4d4b-884e-4b769eccaf93.png)

[2022-11-29 13:14] PanosSynetos opened #861 "Fatal error when setting jetpack defaults one time job"
We get a fatal error when a site is created, as at that point WooCommerce is not yet activated

[code]

https://github.com/Automattic/wc-calypso-bridge/blob/master/includes/class-wc-calypso-bridge-setup.php#L245

[2022-11-30 11:20] manospsyx opened #863 "One time operations may run multiple times"
### Description

One time operations are running multiple times, for various reasons
- simultaneous ajax calls
- multiple wp-cli activate plugins

Sensitive ones, like the woocommerce create pages, results into multiple cart/checkout pages.